<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="GrayScale"/>
    <add key="Average"/>
    <add key="Gauss"/>
    <add key="SobelX"/>
    <add key="SobelY"/>
    <add key="Haar"/>
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBeh">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IServerService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647"/>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="ServerLib.ServerService" behaviorConfiguration="mexBeh">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServerService" contract="ServerLib.IServerService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8301" />
            <add baseAddress="net.tcp://localhost:8302"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>

</configuration>